body {
	background-image: url('../images/fondologin.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

nav {
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	z-index: 1;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#box {
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#box1 {
	background-color: rgba(176, 224, 230, 0.8);
	border-radius: 10px;
	padding: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: left;
}

label {
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #45a049;
}

.boton {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

.boton:hover {
  background-color: #45a049;
}
